/*
    WP U4 Lab 2
    Hangman | HTML, CSS, JS
    Maeson, Abel
    Started @ 2/24/2026
*/

body{
    display: flex;
    font-family: "Inter";
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: scroll;
    padding: 24px;
}

h1{
    margin: 0;
}

p{
    margin: 0;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    width: fit-content;
}

#content{
    gap: 12px;
}

#title{
    gap: 4px;
}

#notification{
    opacity: 0;
    transition: 0.25s ease-in all;
}

#stickman{
    display: flex;
    width: 500px;
    height: 500px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 12px;
    align-content: center;
    justify-content: flex-start;
}

#wordbox{
    display: flex;
    width: 500px;
    height: fit-content;
    font-family: "Inter";
    font-weight: bold;
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px;
}

#wordbox>p{
    font-size: 9px;
}

#wordbox>h1{
    font-size: 32px;
}

#keyboard{
    display: flex;
    width: 500px;
    height: 96px;
    padding: 12px;
    gap: 4px;
    border: 1px solid black;
    border-radius: 4px;
    align-content: center;
}

.key{
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 2px;
}